<% if (goBack) { %>
<button class="icon" onclick="location.href='/'">
	<i class="material-icons">chevron_left</i>
</button>
<% } %>

<div class="header-main">
	<h2 class="header-title">SSR using EJS</h2>
</div>