<div id="month-picker">
	<button class="icon" id="bt-prev-month">
		<i class="material-icons">chevron_left</i>
	</button>

	<div style="margin: 0 16px">
		<span id="month-name"></span>
	</div>

	<button class="icon" id="bt-next-month">
		<i class="material-icons">chevron_right</i>
	</button>
</div>
