<div class="card rounded">
	<div class="card-header">
		<h6 class="card-title">Accounts</h6>
	</div>

	<% if (!accounts.length) { %>
	<span class="text-primary" style="padding: 0 12px 8px">No account found.</span>
	<% } %>

	<div class="card-body">
		<ul class="list">
			<% accounts.forEach((item) => { %>
			<li class="list-item dense" tabindex="0">
				<div class="main">
					<span class="text-primary"><%= item.title %></span>
					<span class="text-secondary">Foreseen</span>
				</div>

				<div class="extra">
					<span class="text-primary"><%= formatMoney(item.balance) %></span>
					<span class="text-secondary"><%= formatMoney(item.foreseen) %></span>
				</div>
			</li>
			<% }); %>
		</ul>
	</div>
</div>
