<!DOCTYPE html>

<html lang="pt-BR">
	<head>
		<%- include('../../partials/head'); %>
	</head>
	<body class="dark-mode">
		<div id="app-container">
			<%- include('../../partials/header'); %>

			<main>
				<div class="painel">
					<form>
						<div class="text-field">
							<input class="text-field--input" placeholder="Description" />
						</div>
					</form>
				</div>
			</main>

			<button class="floating-action">
				<i class="material-icons">add</i>
			</button>

			<%- include('../../partials/foot'); %>
		</div>
	</body>
</html>
