<div id="month-picker">
	<button class="icon" id="bt-prev-month">
		<i class="material-icons">chevron_left</i>
	</button>

	<div id="bt-current-month" style="margin: 0 16px">
		<button class="flat">
			<span id="month-name"></span>
		</button>
	</div>

	<button class="icon" id="bt-next-month">
		<i class="material-icons">chevron_right</i>
	</button>
</div>
