:root {
	--primary-color: #1e88e5;
	--accent-color: #1e88e5;
	--cards-color: #2d2e31;
	--dark-color: #1876d2;
	--icon-color: #000000;
	--text-color: #000000de;
	--header-icon-color: #ffffff;
	--fab-icon-color: #ffffff;
	--border-color: #0000001f;
	--text-secondary-color: #000000c4;
}

* {
	outline: 0 !important;
}

body {
	font-family: 'Open Sans', 'sans-serif';
	margin: 0;
	padding: 0;
	color: var(--text-color);

	overflow: hidden;

	&.dark-mode {
		--primary-color: #202124;
		--accent-color: #c9574d;
		--dark-color: #c9574d;
		--icon-color: #ffffff99;
		--text-color: #ffffff;
		--header-icon-color: #ffffff99;
		--fab-icon-color: #000000;
		--border-color: #ffffff1f;
		--text-secondary-color: #ffffffc4;
		background-color: #1f2023;

		.card {
			background-color: var(--cards-color);
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	margin: 0;
}

div {
	display: flex;
	flex-direction: column;
}

ul {
	padding: 0;
	margin: 0;

	&.list {
		li {
			display: flex;
			padding: 16px;
			height: 64px;
			box-sizing: border-box;
			pointer-events: all;
			cursor: pointer;

			&:hover,
			&:focus {
				background-color: var(--border-color);
			}

			&.w-border {
				border-bottom: 1px solid var(--border-color);
			}

			&.w-icon {
				height: 72px;
			}

			& > * {
				pointer-events: none;
			}

			.rounded-icon {
				display: none;
				margin-right: 16px;
				width: 40px;
				height: 40px;
				border-radius: 20px;
				font-size: 16px;
				align-items: center;
				justify-content: center;
				background-color: #d3d3d3;

				i.material-icons {
					font-size: inherit;
					color: inherit;
				}
			}
		}
	}
}

li {
	list-style: none;
}

p {
	margin-top: 0;
}

p:last-of-type {
	margin-bottom: 0;
}

i.material-icons {
	color: var(--icon-color);
}

header {
	background-color: var(--primary-color);
	color: #ffffff;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	position: relative;

	.header-main {
		padding: 16px 72px 16px 0;
		padding-left: 72px;
		background-color: var(--primary-color);
		// position: fixed;
		position: sticky;
		top: 0;
		// right: 0;
		// left: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1;
		min-height: 56px;
		box-sizing: border-box;

		#month-picker {
			padding: 0;
			margin: 0;
			flex: 1;
		}
	}

	// .header-sub {
	// 	padding-top: 64px;
	// }

	#header-title {
		font-size: 20px;
		line-height: 20px;
	}

	.header-left-action {
		margin: 16px;
		position: absolute;
		left: 0;
		top: 0;
		width: 56px;
		height: 56px;

		button.icon {
			width: 24px;
			height: 24px;
			margin: auto;
		}
	}

	.header-actions {
		display: flex;
		align-items: center;
	}

	span.text-primary {
		font-size: 12px;
		color: rgba(255, 255, 255, 0.67);
	}

	span.text-secondary {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.67);
	}

	i.material-icons {
		color: var(--header-icon-color);
	}
}

span.text-primary {
	line-height: 20px;
	font-size: 14px;
}

span.text-secondary {
	line-height: 20px;
	font-size: 12px;
	color: var(--text-secondary-color);
}

.row {
	flex-direction: row;

	.flex {
		flex: 1;
	}
}

.card {
	/* background-color: var(--accent-color); */
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.12);
	overflow: hidden;

	&.rounded {
		border-radius: 6px;
	}

	&.no-border {
		border: none;
	}

	.card-header {
		flex-direction: row;
		padding: 16px 12px;

		.card-title {
			flex: 1;
			font-size: 18px;
		}
	}
}

.row-fill {
	flex: 1;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	outline: 0;

	&.icon {
		color: inherit;
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}

	&.floating-action {
		width: 56px;
		height: 56px;
		border-radius: 28px;
		background-color: var(--accent-color);
		color: var(--fab-icon-color);
		position: fixed;
		bottom: 16px;
		right: 16px;
		box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
		animation: scale-in 500ms forwards;

		i.material-icons {
			font-size: 24px;
			color: inherit;
		}
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 16px;
	padding: 16px;
}

.text-field {
	height: 60px;

	.text-field--input {
		background-color: transparent;
		padding: 0;
		border: none;
		border-bottom: 1px solid var(--border-color);
	}
}

#app-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;

	main {
		padding-bottom: 88px;
		flex: 1;
	}
}

#balance-info {
	max-width: 640px;
	width: 100%;
	margin: auto;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

#month-picker {
	justify-content: center;
	align-items: center;
	padding: 0 12px;
	margin: 12px 0;
	flex-direction: row;
	overflow: hidden;

	#month-name {
		min-width: 156px;
		text-transform: capitalize;
		line-height: 32px;
		text-align: center;
		animation: slide-in 500ms forwards;
	}
}

@keyframes slide-in {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
