:root {
  --primary: #1e88e5;
  --accent: #1e88e5;
  --cards: #2d2e31;
  --dark: #1876d2;
  --icon: #000000;
  --text: #000000de;
  --text-secondary: #0000008f;
  --header-icon: #ffffff;
  --fab-icon: #ffffff;
  --border: #0000001f; }

* {
  outline: 0;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: 'Open Sans', 'sans-serif';
  margin: 0;
  padding: 0;
  color: var(--text);
  overflow: hidden;
  letter-spacing: 0.7px !important; }
  body.dark-mode {
    --primary: #202124;
    --accent: #c9574d;
    --dark: #c9574d;
    --icon: #ffffff99;
    --text: #ffffffde;
    --text-secondary: #ffffff8f;
    --header-icon: #ffffff99;
    --fab-icon: #000000;
    --border: #ffffff1f;
    background-color: #1f2023; }
    body.dark-mode .card {
      background-color: var(--cards); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0; }

div {
  display: flex;
  flex-direction: column; }

ul {
  padding: 0;
  margin: 0; }
  ul.list li.list-item {
    display: grid;
    grid-gap: 16px;
    grid-template-areas: 'main extra';
    grid-template-columns: 1fr auto;
    padding: 16px;
    box-sizing: border-box;
    pointer-events: all;
    cursor: pointer; }
    ul.list li.list-item.dense {
      padding: 8px 16px; }
    ul.list li.list-item.w-icon {
      grid-template-areas: 'icon main extra';
      grid-template-columns: 36px 1fr auto; }
    ul.list li.list-item .icon {
      grid-area: icon;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      font-size: 20px;
      align-items: center;
      justify-content: center;
      background-color: #d3d3d3; }
      ul.list li.list-item .icon i.material-icons {
        font-size: inherit;
        color: inherit; }
    ul.list li.list-item .main {
      grid-area: main;
      overflow: hidden; }
      ul.list li.list-item .main .text-primary,
      ul.list li.list-item .main .text-secondary {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    ul.list li.list-item .extra {
      text-align: right;
      grid-area: extra; }
    ul.list li.list-item:hover, ul.list li.list-item:focus {
      background-color: var(--border); }
    ul.list li.list-item.w-border {
      border-bottom: 1px solid var(--border); }
    ul.list li.list-item > * {
      pointer-events: none; }

li {
  list-style: none; }

p {
  margin-top: 0; }

p:last-of-type {
  margin-bottom: 0; }

i.material-icons {
  color: var(--icon); }

header {
  background-color: var(--primary);
  color: #ffffff;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3; }
  header .header-main {
    padding: 16px 72px 16px 0;
    padding-left: 72px;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    min-height: 56px;
    box-sizing: border-box;
    z-index: 3; }
    header .header-main #month-picker {
      padding: 0;
      margin: 0;
      flex: 1; }
  header #header-title {
    font-size: 20px;
    line-height: 20px; }
  header .header-left-action {
    margin: 16px;
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    transition: background-color 300ms ease-in-out; }
    header .header-left-action button.icon {
      width: 40px;
      height: 40px;
      margin: auto; }
  header .header-actions {
    display: flex;
    align-items: center; }
  header span.text-primary {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.67); }
  header span.text-secondary {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.67); }
  header i.material-icons {
    color: var(--header-icon); }

span.text-primary {
  line-height: 20px;
  font-size: 14px; }

span.text-secondary {
  line-height: 20px;
  font-size: 12px;
  color: var(--text-secondary); }

.row {
  flex-direction: row; }
  .row .flex {
    flex: 1; }

.card {
  /* background-color: var(--accent-color); */
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden; }
  .card.rounded {
    border-radius: 6px; }
  .card.no-border {
    border: none; }
  .card .card-header {
    flex-direction: row;
    padding: 16px 12px; }
    .card .card-header .card-title {
      flex: 1;
      font-size: 18px; }

.row-fill {
  flex: 1; }

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0; }
  button.icon {
    color: inherit;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms ease-in-out; }
    button.icon:hover, button.icon:focus {
      background-color: var(--border); }
  button.floating-action {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--accent);
    color: var(--fab-icon);
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 5;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    animation: scale-in 500ms forwards;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; }
    button.floating-action:active {
      box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }
    button.floating-action i.material-icons {
      font-size: 24px;
      color: inherit; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  padding: 16px; }

form {
  padding: 24px; }
  form .text-field:first-of-type {
    margin-top: 0; }
  form .text-field {
    overflow: hidden;
    position: relative;
    margin: 24px 0; }
    form .text-field .text-field--input {
      background-color: transparent;
      padding: 0;
      border: none;
      border-bottom: 1px solid var(--border);
      color: var(--text);
      font-size: 16px;
      height: 32px;
      line-height: 32px; }
    form .text-field .text-field--select {
      background-color: transparent;
      padding: 0;
      border: none;
      border-bottom: 1px solid var(--border);
      color: var(--text);
      font-size: 16px;
      height: 32px;
      line-height: 32px; }
    form .text-field .text-field--label {
      color: var(--text-secondary);
      font-size: 12px;
      line-height: 20px;
      transition: color 300ms ease;
      opacity: 0; }
    form .text-field::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 2px solid var(--accent); }
    form .text-field.is-focused::after {
      animation: grow-in 300ms ease-in-out forwards; }
    form .text-field.is-focused .text-field--label, form .text-field.is-filled .text-field--label {
      color: var(--accent); }
    form .text-field.is-filled.not-empty-label .text-field--label, form .text-field:not(.not-empty-label) .text-field--label {
      animation: label-slide-in 300ms ease-in-out forwards; }

#app-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto; }
  #app-container main {
    padding-bottom: 88px;
    flex: 1; }

#balance-info {
  max-width: 640px;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

#month-picker {
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  margin: 12px 0;
  flex-direction: row;
  overflow: hidden; }
  #month-picker #month-name {
    min-width: 156px;
    text-transform: capitalize;
    line-height: 32px;
    text-align: center;
    animation: slide-in 500ms forwards; }

@keyframes slide-in {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }

@keyframes label-slide-in {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes scale-in {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes grow-in {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }
